//Color variables
$color-dark-yellow: #cd9042;
$color-light-yellow: #f0c14b;
$color-dark-blue: #1c2237;
//Margin
$margin-primary: 20px;
$margin-medium: 15px;

//Padding
$padding-primary: 5px 10px;

//MEDIA QUERY MANAGER
/*
0 - 600PX: Phone
600-900px: tablet portrait
900 - 1200px: table landscape
1200 - 1800: is where normal styles apply
1800px + : big desktop

$breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desk
    
ORDER: Base + typography > general layout + grid > page layout > components

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px) {
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint == big-desk {
        @media only screen and (min-width: 1800px) {
            @content;
        }
    }
}

//RESET
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

//GENERAL CLASSES

//Mixins
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin reset {
    margin: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    text-transform: none !important;
}

.rating {
    @include flex-row;
    & * {
        font-size: 15px;
    }
}

//BUTTONS
.btn {
    @include reset;
    background: linear-gradient(
        rgba($color-light-yellow, 0.3) 30%,
        rgba($color-light-yellow, 0.6) 60%,
        rgba($color-light-yellow, 1) 100%
    );
    border: 1px solid !important;
    border-color: #a88734 #9c7e31 #846a29 !important;
    color: #111;
    font-size: 12px !important;
    padding: 2px 10px !important;

    &:hover {
        background: $color-light-yellow !important;
    }
}

.btn-extra {
    background: white !important;
}

//Layout
.container {
    @include flex-column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1500px;
    & > h1 {
        margin: 50px auto;
    }
}

.row {
    @include flex-row;
}
.success {
    color: green;
}
.danger {
    color: red;
}
.active {
    color: blue;
}
.box {
    border: 1px solid;
    display: block;
    width: 100%;
    padding: $margin-primary;
    border-radius: 7px;
    margin-bottom: $margin-primary;

    &:hover {
        box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px,
            rgba(17, 17, 26, 0.2) 0px 24px 80px;
    }

    & > * {
        margin-bottom: 8px;
    }
    &--item {
        @include flex-row;
        justify-content: space-between;
    }
    & button.btn {
        margin-top: $margin-medium !important;
        border-radius: 7px;
        width: 100%;
    }
}
.min-height {
    min-height: 70vh;
}
//FORM
form {
    @include flex-column;
    margin: $margin-primary auto;
    border: 1px solid rgb(158, 155, 155);
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 4px 50px;

    @include respond(phone) {
        padding: 4px 10px;
    }

    & * {
        width: 100%;
    }
    & h1,
    h2 {
        margin-top: $margin-primary;
        text-align: center;
    }
    & button.btn {
        width: 30% !important;
        margin: $margin-medium auto !important;
        font-size: 14px !important;
        border-radius: 5px;
        padding: 5px !important;
        &:hover {
            font-weight: 800 !important;
        }
    }
    & > div:last-of-type {
        margin-bottom: $margin-primary;
        text-align: center;
        font-size: 13px;

        &:hover > a {
            color: $color-dark-yellow;
        }
    }

    &:hover {
        box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px,
            rgba(17, 17, 26, 0.2) 0px 24px 80px;
    }
}

// SIGNIN, SIGNUP PAGES
.form-medium {
    min-height: 70vh;
    @include flex-column;
    justify-content: center;
    margin: 5px;
    & form {
        max-width: 450px;
        min-width: 200px;
        width: 100%;
        @include respond(phone) {
            padding: $padding-primary;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

//TABLE
table {
    display: flex;
    display: block;
    overflow-x: scroll;

    margin: 10px;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    max-width: 1400px;
    //  width: 300px;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px,
        rgba(17, 17, 26, 0.2) 0px 24px 80px;

    & thead,
    & tbody {
        display: block;
        overflow-x: scroll;
    }
    & thead th {
        background-color: $color-dark-blue;
        color: white;
        text-align: left;
        padding: 7px 5px;
        // position: sticky;
        // top: 0;
    }
    & tbody {
        overflow-y: scroll;
        max-height: 70vh;
        height: 100%;
    }
    & tbody td {
        border-bottom: 1px solid rgba($color-dark-blue, 0.2);
        padding: 10px 5px;
    }

    & tr {
        display: flex;
     justify-content: stretch;
        width: 100%;
    }
    & td,
    & th {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        flex: 1;
        display: inline-block;
        @include respond(tab-port) {
            flex: 0 0 100px;
        }
    }


    & img {
        width: 50px;
        height: 50px;
    }
}
