@import "../styles/base";

.one-product {
    margin: 50px auto;

    &__wrapper > div {
        mask-border: $margin-primary !important;
    }
    &__back-icon {
        align-self: flex-start;
        margin-bottom: $margin-primary;
        @include flex-row;
        font-size: 13px;
        &:hover {
            font-weight: 500;
        }
    }

    &__img-prod {
        width: 80%;
        margin: 0 auto;
        & > img {
            width: 100%;
        }
    }
    &__images img {
        width: 50px;
        border-radius: 7px;
    }

    & .add-reviews {
        margin-top: 50px;
        width: 50%;
        @include respond(phone) {
            width: 100%;
        }

        & form.form-medium {
            min-height: max-content !important;
            width: 100%;
            & >div:not(:nth-of-type(3)){
                 margin-bottom: $margin-primary;
            }
        }
    }
}
