@import "../styles/base";

.one-product {
    margin: 50px auto;

    // &__wrapper > div {
    //     mask-border: $margin-primary !important;
    // }
    &__back-icon {
        align-self: flex-start;
        margin-bottom: $margin-primary;
        @include flex-row;
        font-size: 13px;
        &:hover {
            font-weight: 500;
        }
    }

    &__wrapper {
        margin-bottom: $margin-primary;
        margin-top: $margin-medium;
    }

    &__info{
        & > li{
            margin-bottom:10px;
            & .rating{
                font-size: 16px;
            }
            & p{
                letter-spacing: 1.5px;
                line-height: 1.2;
            }
        }
    }

    &__img-prod {
        width: 80%;
        margin: 0 auto;
        & > img {
            width: 100%;
        }
    }

    &__images {
        @include flex-row;
        & img {
            object-fit:scale-down ;
            max-width: 100%;
            max-height: 100%;
            border-radius: 7px;
            padding: 2px;
            
        }
        & button {
            border-radius: 2px;
            border: 0.5px solid rgb(206, 197, 197);
            box-shadow: none;
            background-color: transparent;
            width: 50px;
            outline: none;
            margin-right: 10px;
            margin-bottom: 10px;
            &:focus{
                border: 1px solid $color-dark-yellow;
            }
        }
    }

    & .add-reviews {
        margin-top: 50px;
        width: 50%;
        @include respond(phone) {
            width: 100%;
        }

        & form.form-medium {
            min-height: max-content !important;
            width: 100%;
            & > div:not(:nth-of-type(3)) {
                margin-bottom: $margin-primary;
            }
        }
    }
}
