@import "../styles/base";

.one-product {
    margin: $margin-primary auto;

    &__back-icon {
        align-self: flex-start;
        margin-bottom: $margin-primary;
        @include flex-row;
        font-size: 13px;
    }

    &__img-prod {
        width: 80%;
        margin: 0 auto;
        &> img{
             width: 100%;
        }
    }
    &__images img {
        width: 50px;
        border-radius: 7px;
    }

    &__seller > div {
        border: 1px solid;
        display: block;
        width: 100%;
        padding: $margin-primary;
     border-radius: 7px;

        & button.btn {
             margin-top: $margin-medium!important;
            border-radius: 7px;
            width: 100%;
        }
    }

    & .add-reviews {
        margin-top: 50px;
        width: 80%;

        & form {
             min-width: 250px;
            width: 100%;
            & > div {
                margin-bottom: $margin-primary;
                @include flex-column;
                align-items: flex-start !important;
                & > label {
                    margin-bottom: $margin-medium;
                }
                & textarea {
                    width: 100%;
                }
            }
            & button{
                 display: block;
                 margin: 0 auto!important;
            }
        }
    }
}
