@import "../../styles/base";

.message-box {
    @include reset;
    width: 100%;
    max-width: 300px;
    & > div:first-child {
        flex: 1;
        padding-left: 3px;
    }
    & > div:last-child {
        flex: 4;
    }
}
