@import "../../styles/base";

.message-box {
    @include reset;
    &.small {
        max-width: 300px;
    }
    &.large {
        width: 100%;
    }
    & > div:first-child {
        flex: 1;
        padding-left: 3px;
    }
    & > div:last-child {
        flex: 6;
    }
}
