@import "../../styles/base";

.header {
    height: 60px;
    background-color: $color-dark-blue;
    position: sticky;
    top: 0;
    z-index: 100;
    @include flex-row;

    @include respond(tab-port) {
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        margin: 0 $margin-primary;
        color: $color-dark-yellow !important;
        @include flex-row;
        transform: translate(0px, 0px);
        transition: all 0.1s;

        & > h1 {
            margin-left: 10px;
        }
        &:hover {
            transform: translate(0.5px, -2px) scale(1.05);
            color: $color-light-yellow !important;
        }
    }

    &__search {
        flex: 1;
        @include flex-row;
        justify-content: center;

        @include respond(tab-port) {
            order: 5;
            position: fixed;
            top: 60px;
            width: 100% !important;
        }
        &--input {
            height: 26px;
            padding: 10px;
            border: none;
            width: 100%;
            outline: 0;
            border-radius: 1px;
            width: 50%;
            transition: all 0.5s ease-in;
            background-color: rgba(white, 1);
            @include respond(tab-port) {
                border: 2px solid $color-dark-yellow;
                width: 100% !important;
            }
        }
        &--input:hover {
            border: none;
            border-bottom: 2px solid $color-dark-yellow;
        }

        &--input:focus {
            width: 70%;
            background-color: white;
            @include respond(tab-port) {
                width: 100% !important;
            }
        }

        & button {
            @include reset;
        }

        &--icon {
            padding: 5px;
            height: 26px !important;
            background-color: $color-dark-yellow;
        }
    }

    &__nav {
        @include flex-row;
        justify-content: space-evenly;
    }
    &__option {
        @include flex-column;
        align-items: flex-start !important;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        @include respond(tab-port) {
            margin-left: 3px;
            margin-right: 3px;
            & * {
                line-height: 1;
            }
        }
    }
    &__optionLineOne {
        @include reset;
        font-size: 10px !important;
        @include respond(phone) {
            display: none !important;
        }
    }

    &__optionLineTwo {
        @include reset;
        font-size: 13px;
        font-weight: 800;
    }

    &__optionBasket {
        @include flex-row;
        color: white;
        margin-right: 10px;
        @include respond(phone) {
            margin-right: 3px;
        }
    }
}

#customized-menu {
    top: 44px !important;

    & ul {
        background: linear-gradient(
            rgba($color-light-yellow, 0.3) 30%,
            rgba($color-light-yellow, 0.6) 60%,
            rgba($color-light-yellow, 1) 100%
        );
    }
    & li:focus {
    }
}
