@import "../../styles/base";

.footer {

    &-container {
        background-color: $color-dark-blue;
        padding: 20px 0;
        @include flex-column;
        justify-content: center;

    }

    &-subscription {
        @include flex-column;
        justify-content: center;
        text-align: center;
        padding: 24px;
        color: #fff;

        &-heading {
            margin-bottom: $margin-primary;
            @include respond(phone) {
                font-size: 20px;
            }
        }
    }

    &-input-areas form {
        border: none !important;
        box-shadow: none !important;
        & button.btn {
            padding: 5px 40px !important;
            background-color: white;
        }
    }

    &-input {
        padding: $padding-primary;
        border-radius: 5px;
        margin-right: 10px;
        outline: none;
        border: none;
        margin-bottom: 16px;
        &::placeholder {
            color: #b1b1b1;
        }
    }

    &-links {
        width: 100%;
        max-width: 1000px;
        height: max-content;
        @include flex-row;
        justify-content: center;
        align-items: flex-start!important;
       
    }
    &-link {
        &-wrapper {
            display: flex;
            @include respond(tab-port){
                flex-direction: column;
                justify-content: space-between!important;
            }
        }
        &-items {
            @include flex-column;
            align-items: flex-start;
            margin: 16px;
            text-align: left;
            width: 160px;
            font-size: 13px;
            @include respond(phone){
                width: 100px;
            }
            & h2 {
                margin-bottom: $margin-medium;
                color: #fff;
                &:hover {
                    color: $color-light-yellow;
                }
            }
            & a {
                color: #fff;
                margin-bottom: $margin-primary;
                transition: 0.3s ease-out;
                &:hover {
                    color: $color-light-yellow;
                }
            }
        }
    }
}


/* Social Icons */
.social-icon-link {
    color: #fff;
    &:hover {
        color: $color-light-yellow;
    }
}

.social-media {
    max-width: 1000px;
    width: 100%;

    &-wrap {
     @include flex-row;
        justify-content: space-between;
        width: 90%;
        max-width: 1000px;
        margin: 40px auto 0 auto;
        @include respond(tab-port){
            @include flex-column;
            margin: 0;
        }
    }
    
}

.social-icons {
   @include flex-row;
    justify-content: space-between;
    width: 240px;
}

.social-logo {
    @include flex-row;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 16px;
}

.website-rights {
    color: #fff;
    margin-bottom: 16px;
}


