@import "../../styles/_base.scss";

.home__banner {
    & > img {
        width: 100%;
        z-index: -1;
        margin-bottom: -150px;

        @include respond(tab-port) {
            margin-top: 22px;
            margin-bottom: -100px;
        }
        @include respond(phone) {
            margin-bottom: -50px;
        }
    }
}
